{{ partial "head" }}
  <div class="home scalable">
    <div class="container">
      {{ partial "main-title" }}
      {{ .Scratch.Set "active" "b" }}
      {{ partialCached "main-menu" . "b" }}
      {{ range .Site.Pages }}
      <!-- There's a rogue ghost page that has no .md file and images is nil.. exlcude until I figure out what it is -->
	    {{ if and (eq .Type "b") (not (eq .Params.images nil)) }}
	    {{ if .NextInSection }}
        {{ if not (eq .Date.Year .NextInSection.Date.Year) }}
        <h2 class="year-heading">{{ .Date.Year }}</h2>
        {{ end }}
	    {{ else }}
	      <h2 class="year-heading">{{ .Date.Year }}</h2>
	    {{ end }}
      <div class="creation">
        <div class="creation-title">
          <div>{{ .Name }}</div>
        </div>
        <div class="creation-thumbnail">
          <a href="{{ .Page.Permalink }}">
          <!-- TODO: use a thumbnail -->
          <img src="{{ index .Params.images 0 }}" alt="{{ .Params.image }}" />
	      </a>
	    </div>
	  </div>
	  {{ end }}
    {{ end }}
    </div>
  </div>

{{ partial "footer" }}
