{{ partial "head" . }}
  <div class="home scalable">
    <div class="container">
      {{ partial "main-title" . }}
      {{ .Scratch.Set "active" "b" }}
      {{ partialCached "main-menu" . "b" }}
      {{ $pages := where site.RegularPages "Type" "b" }}
      {{ $pages = where $pages "Params.images" "ne" nil }}
      {{ $pages = $pages.ByDate.Reverse }}
      {{ $.Scratch.Delete "year" }}
      {{ range $pages }}
        {{ $year := .Date.Year }}
        {{ $prevYear := $.Scratch.Get "year" }}
        {{ if ne $year $prevYear }}
          <h2 class="year-heading">{{ $year }}</h2>
          {{ $.Scratch.Set "year" $year }}
        {{ end }}
      <div class="creation">
        <div class="creation-title">
          <div>{{ .Name }}</div>
        </div>
        <div class="creation-thumbnail">
          <a href="{{ .Page.Permalink }}">
          <!-- TODO: use a thumbnail -->
          <img src="{{ index .Params.images 0 }}" alt="{{ .Params.image }}" />
	      </a>
	    </div>
	  </div>
    {{ end }}
    </div>
  </div>

{{ partial "footer" . }}
