{{ partial "head" . }}
  <!--[if IE]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please
      <a href="https://browsehappy.com/">upgrade your browser</a> to improve
      your experience and security.
    </p>
  <![endif]-->
  <div class="home scalable">
    <div class="container">
      {{ partial "main-title" }}
      {{/*
      {{ .Scratch.Set "active" "c" }}
      {{ partialCached "main-menu" . "c" }}
      */}}
      {{ range .Site.Pages }}
      <!-- There's a rogue ghost page that has no .md file and images is nil.. exlcude until I figure out what it is -->
	{{ if and (or (eq .Type "c") (eq .Type "b")) (not (eq .Params.images nil)) }}
      <div class="creation">
	  {{ if and (.NextInSection) }}
	    {{ if not (eq .Date.Year .NextInSection.Date.Year) }}
	      <h2 class="year-heading"><span>{{ .Date.Year }}</span></h2>
	    {{ end }}
	  {{ else }}
	      <h2 class="year-heading"><span>{{ .Date.Year }}</span></h2>
	  {{ end }}
        <div class="creation-title">
          <h3>{{ .Name }}</h3>
        </div>
	<!-- TODO: fix tag div overlapping with title on small screen -->
        <!-- <div class="creation-tags"> -->
	  <!-- <!-1- can't figure out how to do strings.Join(.Params.tags, ",") -1-> -->
	  {{/* 
	  {{ range $index, $val := .Params.tags }}{{ if $index }}, {{ end }}{{ $val }}{{ end }}
	  */}}
        <!-- </div> -->
        <div class="creation-thumbnail">
          <a href="{{ .Page.Permalink }}">
          <!-- TODO: use a thumbnail -->
          <img src="{{ index .Params.images 0 }}" alt="{{ .Params.image }}" />
	      </a>
	    </div>
	  </div>
      {{ end }}
    {{ end }}
    </div>
  </div>
{{ partial "footer" . }}
