{{ partial "head" . }}
  <!--[if IE]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please
      <a href="https://browsehappy.com/">upgrade your browser</a> to improve
      your experience and security.
    </p>
  <![endif]-->
  <div class="home scalable">
    <div class="container">
      {{ partial "main-title" . }}
      {{/*
      {{ .Scratch.Set "active" "c" }}
      {{ partialCached "main-menu" . "c" }}
      */}}
      {{ $pages := where site.RegularPages "Type" "in" (slice "c" "b") }}
      {{ $pages = where $pages "Params.images" "ne" nil }}
      {{ $pages = $pages.ByDate.Reverse }}
      {{ $.Scratch.Delete "year" }}
      {{ range $pages }}
      <div class="creation">
          {{ $year := .Date.Year }}
          {{ $prevYear := $.Scratch.Get "year" }}
          {{ if ne $year $prevYear }}
            <h2 class="year-heading"><span>{{ $year }}</span></h2>
            {{ $.Scratch.Set "year" $year }}
          {{ end }}
        <div class="creation-title">
          <h3>{{ .Name }}</h3>
        </div>
	<!-- TODO: fix tag div overlapping with title on small screen -->
        <!-- <div class="creation-tags"> -->
	  <!-- <!-1- can't figure out how to do strings.Join(.Params.tags, ",") -1-> -->
	  {{/* 
	  {{ range $index, $val := .Params.tags }}{{ if $index }}, {{ end }}{{ $val }}{{ end }}
	  */}}
        <!-- </div> -->
        <div class="creation-thumbnail">
          <a href="{{ .Page.Permalink }}">
          <!-- TODO: use a thumbnail -->
          <img src="{{ index .Params.images 0 }}" alt="{{ .Params.image }}" />
	      </a>
	    </div>
	  </div>
    {{ end }}
    </div>
  </div>
{{ partial "footer" . }}
