/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.main-title {
  padding: 152px 0 132px;
  font-size: 50px;
  text-align: center;
}

.main-title a {
  color: #000000;
  text-decoration: none;
}

.main-title a:hover {
  text-decoration: underline;
}

.container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
}

.year-heading {
  font-size: 40px;
  margin-bottom: 71px;
  margin-top: 111px;
  text-align: center;
}

.creation {
  margin: 22px 0;
}
.creation-title {
  color: #4b4b4b;
  background: #f6f6f6;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  padding: 10px;
}
.creation-thumbnail {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.single-article {
  padding: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}
.single-article-content {
  font-size: 1.4em;
}
.single-article-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
.single-article h1 {
  font-size: 2.9em;
  margin-bottom: 0;
  margin-top: -20px;
  background-color: #fff;
  padding: 36px 0 0;
  margin-bottom: 15px;
}
.single-article h2,
.single-article h3 {
  text-align: center;
  font-size: 1.5em;
}
.single-article-content img {
  margin-top: 30px;
}
.single-article-content p {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .main-title {
    text-align: left;
  }
  .creation {
    height: 266px;
    display: flex;
  }
  .creation-title {
    font-size: 25px;
    width: 266px;
    padding: 0;
  }
  .year-heading {
    text-align: left;
  }
  .single-article {
    background-color: #fff;
    margin: 15px;
    padding: 30px;
  }
  .single-article h1 {
    margin-top: -38px;
    font-size: 3.5em;
    min-width: 90%;
    text-align: center;
  }
  .single-article-wrapper {
    margin: 0;
  }
  .single-article-content {
    padding: 0;
  }
  .single-article-content p {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 1.1em;
  }
  .single-article-content p:first-child {
    margin-top: 30px;
  }
  .single-article-content p:last-child {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1100px) {
  .single-article h1 {
    min-width: 60%;
  }
}

@media only screen and (min-width: 2500px) {
  .single-article h1 {
    min-width: 40%;
  }
}
